In [1]:
# 1.If  name = ''' Hi How are you?
# Starterd learning python.
# It's really interesting.''' Then what is the output of following code
# •	name[:] 
# •	name[-10:-5]
# •	name[3:12]
# •	name[12:3]
# •	name[5,6]
# •	name[-4:-12]
# •	name[::2]
# •	name[::-2]

name = ("Hi How are you? Starterd learning python.")
print(name[:])
print(name[-10:-5])
print(name[3:12])
print(name[12:3])
print(name[5:6])
print(name[-4:-12])
print(name[::2])
print(name[::-2])

Hi How are you? Starterd learning python.
ng py
How are y

w

H o r o?Satr erigpto.
.otpgire rtaS?o r o H

In [2]:
# 2.    L1 = [‘a’ , ‘b’, 20, 30, ‘t’, 100, 300, 400, ‘Happy’, ‘major’]
# a.	L1[:]
# b.	L1[::3]
# c.	L1[::-2]
# d.	How to extract  value “Happy” based on index and negative index
# e.	How to check type of data in list at 4th position
# f.	Extract values for 100, 300, 400 

L1 = ['a' , 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']
print(L1[:])
print(L1[::3])
print(L1[::-2])
print(L1[8])
print(L1[-2])
print(type(L1[3]))
print(L1[5:8])

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']
['a', 30, 300, 'major']
['major', 400, 100, 30, 'b']
Happy
Happy
<class 'int'>
[100, 300, 400]

In [2]:
# 3.If l2 =[1,2,3,5,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”] then what is the output of following
# •	L2[4]
# •	L2[1:5]
# •	L2[7]
# •	L2[7][2]
# •	L7[7][2:]
# •	L2[ : 3]
# •	L2[3:]

L2 =[1,2,3,5,['a', 'b', 'work hard'],100 , 200, 'Success']
print(L2[4])
print(L2[1:5])
print(L2[7])
print(L2[7][2])
print(L2[7][2:])
print(L2[ : 3])
print(L2[3:])

['a', 'b', 'work hard']
[2, 3, 5, ['a', 'b', 'work hard']]
Success
c
ccess
[1, 2, 3]
[5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [4]:
# 4.	From the above L2 value ‘b’ must be changed to ‘BEE’.
L2[4][1] = 'BEE'
print(L2)

[1, 2, 3, 5, ['a', 'BEE', 'work hard'], 100, 200, 'Success']

In [5]:
# 5.	From L2 “BEE” has to discard.
L2[4].remove('BEE')
L2

[1, 2, 3, 5, ['a', 'work hard'], 100, 200, 'Success']

In [5]:
L2.remove(3)

In [6]:
L2

[1, 2, 5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [6]:
# 6.	In L2 add a dictionary at the end {'insect': ['bee', 'moth'] , 'bird' : ['parrot', 'sparrow']}
L2.append({'insect': ['bee', 'moth'] , 'bird' : ['parrot', 'sparrow']})
L2

[1,
 2,
 3,
 5,
 ['a', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [7]:
# 7.	From L2 extract insect information.
L2[-1]['insect']

['bee', 'moth']

In [8]:
# 8.	Create a dictionary D1 = {'a':10, 'b':20, 'c' : 30} and add the D1 at 2nd position of L2
D1 = {'a':10, 'b':20, 'c' : 30}
L2.insert(L2[1],D1)
L2

[1,
 2,
 {'a': 10, 'b': 20, 'c': 30},
 3,
 5,
 ['a', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [9]:
# 9.	Based on new L2 created here extract the value 10 from L2 dictionary.
L2[2]['a']

10

In [10]:
# 10.If L3 =[1,2,3,5, (90,40,50,10), ‘Python’, 400 ,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”, (200,300, “Hundreds”)] 
# then what is the output of following
# •	L3[4][2]
# •	L3[5][:]
# •	L3[2] [:]
# •	L3[1:5]
# •	L3[5]
# •	L3[5][3:-1]
# •	L3[-1]
# •	L3[-4, -3]
# •	L3[-4: -10]
# •	L3[7][2]
# •	L3[-7][[2:]
# •	L3[ :- 3]
# •	L3[-3:]

L3 =[1,2,3,5, (90,40,50,10), 'Python', 400 ,['a', 'b', 'work hard'],100 , 200, 'Success', (200,300, 'Hundreds')]
print(L3[4][2])
print(L3[5][:])
print(L3[2])   # Because there is a single digit on the index 2
# print(L3[1:5])
# print(L3[5])
# print(L3[5][3:-1])
# print(L3[-1])
# print(L3[-4:-3])
# print(L3[-4: -10])
# print(L3[7][2])
# print(L3[-7][2:])
# print(L3[ :- 3])
# print(L3[-3:])

50
Python
3

In [11]:
#              IF-elif-else:Questions
# 11.Ask user to enter the marks and define if the user got distinction, first class, second class, pass, Fails
# If marks are more than 80 output must be “You got distinction”
# For marks more than 60 output must be “You got First class”
# Marks more than 40 will display “You got second class”
# Marks more than or equal to 35 “PASS” Otherwise Fail

marks = input('enter marks:')
if (not marks.isalnum() and not marks.isalpha()) or marks.isdigit():
    marks = float(marks)
    if marks > 100 or marks < 0:
        print('enter proper marks')
        
    elif marks >= 80:
        print('You got Distinction')
    elif marks >= 70:
        print('You got First Class')
    elif marks >= 50:
        print('You got Second Class')
    elif marks >= 35:
        print ('Pass')
    else:
        print('Fail')
else:
    print('Wrong marks entered')

You got First Class

In [12]:
# solving question 11 with function :
 
marks = input('enter marks:')
def rank(marks):
    if (not marks.isalnum() and not marks.isalpha()) or marks.isdigit():
        marks = float(marks)
        if marks > 100 or marks < 0:
            print('enter proper marks')
        
        elif marks >= 80:
            return 'You got Distinction'
        elif marks >= 70:
            return 'You got First Class'
        elif marks >= 50:
            return 'You got Second Class'
        elif marks >= 35:
            return 'Pass'
        else:
            return 'Fail'
    else:
        return 'Wrong marks entered'

In [13]:
print(rank(marks))

You got First Class

In [16]:
# 12.	Ask user to enter information about salary of the employee per year and rating received as A, B, C, D
# If salary upto 5 lpa then increament based on ratings are  A = 16% , B=12%, C= 10%, D=6%
# If salary upto 10 lpa then increament based on ratings are  A = 14% , B=10%, C= 8%, D=6%
# If salary upto 15 lpa then increament based on ratings are  A = 8% , B=6%, C= 4%, D = no increment
# If salary upto 23 lpa then increament based on ratings are  A = 7% , B=5%, C= 4%, D=no

salary = float(input('Enter your salary per year :'))
rating = input('Enter Rating Recieved (A/B/C/D):').upper()

def salary_increment(salary,rating):


    if salary <= 5:
        if rating == 'A':
            increment = 0.16
        elif rating == 'B':
            increment = 0.12
        elif rating == 'C':
            increment = 0.10
        elif rating == 'D':
            increment = 0.06

    elif salary <= 10:  
        if rating == 'A':
            increment = 0.14
        elif rating == 'B':
            increment = 0.10
        elif rating == 'C':
            increment = 0.08
        elif rating == 'D':
            increment = 0.06

    elif salary <= 15:  
        if rating == 'A':
            increment = 0.08
    elif rating == 'B':
        increment = 0.06
    elif rating == 'C':
        increment = 0.04
    elif rating == 'D':
        increment = 0

    elif salary <= 23:
        if rating == 'A':
            increment = 0.07
        elif rating == 'B':
            increment = 0.05
        elif rating == 'C':
            increment = 0.04
        elif rating == 'D':
            increment = 0

    else:
        print ("Salary range not eligible for increment")



    increment_amount = salary * increment
    new_salary = salary + increment_amount

    return ('increment : ' , increment_amount),("New Salary:" , new_salary) 

current_salary = salary_increment(salary,rating)

In [17]:
current_salary

(('increment : ', 0.8), ('New Salary:', 8.8))

In [18]:
salary_increment(salary,rating)

(('increment : ', 0.8), ('New Salary:', 8.8))

In [1]:
# 13.Ask user to opt for courses for master degree based on the following
# L1 = [“HR”, “Finance”, “Marketing”, “DS”]
# Based on above subject there are two different streams. 
# For example- HR is having HR core and HR analytics and Marketing is having Marketing core and Marketing analytics. 
# Analytics is the optional subject and having added extra fees.
# DS is not having analytics.
# If fees for L1 is 2 lakhs for each course core subject having the same fees but analytics subject having 10% extra on 2 lakhs.
# If student opts for hostel then 2 lakhs per year is added. For food monthly 2000 .
# Transportation charges 13000 per semester. Calculate the total annual cost based on selected service.  
# User will enter values as subject, analytics(Y/N), Hostel (Y/N), food(How many months?), Transportation(semester/annual)

# Step 1: Input
subject = input("Enter subject (HR / Finance / Marketing / DS): ").strip()
analytics = input("Do you want Analytics? (Y/N): ").strip().upper()
hostel = input("Do you want Hostel? (Y/N): ").strip().upper()
food_months = int(input("Enter number of food months: "))
transport = input("Transportation (Semester/Annual): ").strip().lower()

# Step 2: Base course fee
course_fee = 200000

# Step 3: Analytics fee
if analytics == "Y":
    if subject != "DS":
        analytics_fee = course_fee * 0.10
    else:
        analytics_fee = 0
        print("Analytics not available for DS")
else:
    analytics_fee = 0

# Step 4: Hostel fee
if hostel == "Y":
    hostel_fee = 200000
else:
    hostel_fee = 0

# Step 5: Food fee
food_fee = food_months * 2000

# Step 6: Transportation fee
if transport == "semester":
    transport_fee = 13000
elif transport == "annual":
    transport_fee = 26000
else:
    transport_fee = 0
    print("Invalid transportation option")

# Step 7: Total cost
total_cost = (
    course_fee +
    analytics_fee +
    hostel_fee +
    food_fee +
    transport_fee
)

# Step 8: Save bill to txt file
with open("annual_bill.txt", "a") as f:
        f.write("--- Annual Cost Breakdown ---\n")
        f.write("Course Fee: " + str(course_fee) + "\n")
        f.write("Analytics Fee: " + str(analytics_fee) + "\n")
        f.write("Hostel Fee: " + str(hostel_fee) + "\n")
        f.write("Food Fee: " + str(food_fee) + "\n")
        f.write("Transportation Fee: " + str(transport_fee) + "\n")
        f.write("Total Annual Cost: " + str(total_cost) + "\n")

In [ ]:
# 14.	Digitalize the book allotment process for school. Charges are mentioned here in the given table:
def get_standard(standard_input):
    if standard_input >= 1 and standard_input <= 4:
        return "1-4"
    elif standard_input >= 5 and standard_input <= 8:
        return "5-8"
    elif standard_input >= 9 and standard_input <= 10:
        return "9-10"
    else:
        return None

def convert(nb_input):
    if nb_input == 1:
        return "100 pages"
    elif nb_input == 2:
        return "200 pages"
    else:
        return nb_input


books_data = {
    '1-4': {'Hindi': 60, 'Marathi': 60, 'English': 80, 'Science': 90, 'Maths': 100},
    '5-8': {'Hindi': 100, 'Marathi': 100, 'English': 100, 'Science': 120, 'Maths': 140},
    '9-10': {'Hindi': 150, 'Marathi': 150, 'English': 150, 'Science': 200, 'Maths': 250}
}

notebooks_data = {
    '100 pages': {'square': 40, 'four_lines': 30, 'two_lines': 30, 'single_lines': 60, 'a4': 100},
    '200 pages': {'squares': 70, 'four_lines': 50, 'two_lines': 50, 'single_lines': 100, 'a4': 180}
}

total_amt = 0
books_cart = []
notebook_cart = []


while True:
    print("\n")
    print("*" * 50)
    print("{:^50}".format("STATIONERY MENU"))
    print("*" * 50)
    print("Enter 1: Buy Books")
    print("Enter 2: Buy Notebook")
    print("Enter 3: Exit")
    choice = int(input("ENTER YOUR CHOICE?: "))
    
  
    if choice == 1:
        standard_input = int(input("\nENTER THE STANDARD?: "))
        standard = get_standard(standard_input)
        print(standard)
        
        while True:
            print("\n")
            print("*" * 50)
            print("{:^50}".format("BOOKS"))
            print("*" * 50)
            print("ENTER Hindi: FOR HINDI BOOK")
            print("ENTER Marathi: FOR MARATHI BOOK")
            print("ENTER English: FOR ENGLISH BOOK")
            print("ENTER Science: FOR SCIENCE BOOK")
            print("ENTER Maths: FOR MATHS BOOK")
            print("ENTER Exit: FOR EXIT")
            your_choice = input("Enter your choice:? ")
            
            if your_choice == "Exit" or your_choice not in ("Hindi", "Marathi", "English", "Science", "Maths", "Exit"):
                print("Continue with shopping...")
                break
            
            total_amt += books_data[standard][your_choice]
            books_cart.append(your_choice + "Book")
            print("BOOK ADDED: ", your_choice)
            print("CONTINUE, ADD MORE!!")
        

    elif choice == 2:
        while True:
            print("\nENTER 1: FOR 100 PAGES NOTEBOOK")
            print("ENTER 2: FOR 200 PAGES NOTEBOOK")
            print("ENTER 3: EXIT")
            your_choice = int(input("ENTER YOUR CHOICE?: "))
            your_choice = convert(your_choice)
            
            if your_choice == 3:
                break
            
            while True:
                print("\nENTER Square: FOR SQUARE NOTEBOOK")
                print("ENTER Four_lines: FOR FOUR LINES NOTEBOOK")
                print("ENTER Two_lines: FOR TWO LINES NOTEBOOK")
                print("ENTER Single_lines: FOR SINGLE LINES NOTEBOOK")
                print("ENTER A4: FOR A4 NOTEBOOK")
                print("ENTER Exit: FOR EXIT")
                your_input = input("ENTER YOUR CHOICE?: ").lower()
                
                
                if your_input == "exit":
                    print("Continue with shopping...")
                    break
                
                total_amt += notebooks_data[your_choice][your_input]
                notebook_cart.append(your_input.capitalize() + "Notebook")
                print("NOTEBOOK:", your_input, " ADDED!!")
        
    elif choice == 3:
        print("Exiting!!!")
        break

print("*" * 50)
bill_msg = f"Total Bill: {total_amt}"
print(bill_msg)
cart_msg = f"Books Purchased: {books_cart}"
print(cart_msg)
notebook_msg = f"Notebooks Purchased: {notebook_cart}"
print(notebook_msg)
print("*" * 50)

In [ ]:
# Question 17
# Type Casting 
# 17.	Create a=100 
# •	Convert a to string 
# •	Convert a to list    
# •	Convert a to tuple  
# •	Convert a to dict 
# •	Convert a to set 
# •	Convert to float 
# Observe the errors and note it down for all conversions. 

a = 100
print(str(a))  # int → string
print(list(str(a)))   # int → list (must convert to string first)
print(tuple(str(a)))  # int → tuple (must convert to string first)
print(float(a))    # int → float
print(set(str(a)))    # int → set (must convert to string first)
print(dict(a))     # int → dict (will give error)

In [ ]:
# Question 18
# 18.	Create city = “Pune” 
# •	Convert to int     
# •	Convert float 
# •	Convert list  
# •	Convert tuple 
# •	Convert dict 
# •	Convert set 
# •	Obsert errors and note it down for all conversions 
city = "Pune"
print(int(city))      # error
print(float(city))    # error
print(list(city))
print(tuple(city)) 
print(dict(city))  # error
print(set(city))

In [19]:
# Question 19.	Create a list as marks = [20,18,15,17,18] 
# •	Convert to int 
# •	Convert float 
# •	Convert list 
# •	Convert tuple 
# •	Convert dict 
# •	Convert set 
# •	observe : errors and note it down for all conversions 

marks = [20, 18, 15, 17, 18]
print("Original List:", marks)

# Convert to int
try:
    print("Convert to int:", int(marks))
except Exception as e:
    print("int() Error:", e)


# Convert to float
try:
    print("Convert to float:", float(marks))
except Exception as e:
    print("float() Error:", e)

    # Convert to list
try:
    print("Convert to list:", list(marks))
except Exception as e:
    print("list() Error:", e)

    # Convert to tuple
try:
    print("Convert to tuple:", tuple(marks))
except Exception as e:
    print("tuple() Error:", e)

    # Convert to dict
try:
    print("Convert to dict:", dict(marks))
except Exception as e:
    print("dict() Error:", e)

    # Convert to set
try:
    print("Convert to set:", set(marks))
except Exception as e:
    print("set() Error:", e)

Original List: [20, 18, 15, 17, 18]
int() Error: int() argument must be a string, a bytes-like object or a real number, not 'list'
float() Error: float() argument must be a string or a real number, not 'list'
Convert to list: [20, 18, 15, 17, 18]
Convert to tuple: (20, 18, 15, 17, 18)
dict() Error: cannot convert dictionary update sequence element #0 to a sequence
Convert to set: {17, 18, 20, 15}

In [20]:
# Question 20.	Create the empty list snames 
# •	 Add value 20 in the list using append 
# •	 Add value 30 in the list using extend 
# •	Add values in the list using append 
# •	Add value “WORK" in the list using extend 
# •	 Create a new list combo having the values [1, ‘a’, ‘b’ ,2 , 3] 
# •	Add sname to combo using addition operator 
# •	Add combo to snames using append 
# •	Add combo to snames using extend. 

# Create empty list
snames = []
print("Empty list:", snames)

# Add value 20 using append
snames.append(20)
print("After append(20):", snames)

# Add value 30 using extend
snames.extend([30])     # extend needs an iterable like list
print("After extend([30]):", snames)

# Add multiple values using append
snames.append([40, 50])   # adds as a single nested list
print("After append([40,50]):", snames)

# Add value "WORK" using extend
snames.extend("WORK")     # string is iterable → adds each character
print("After extend('WORK'):", snames)

# Create new list combo
combo = [1, 'a', 'b', 2, 3]
print("Combo list:", combo)

# Add snames to combo using addition operator
new_list = combo + snames
print("combo + snames:", new_list)

# Add combo to snames using append
snames.append(combo)
print("After append(combo):", snames)

# Add combo to snames using extend
snames.extend(combo)
print("After extend(combo):", snames)

Empty list: []
After append(20): [20]
After extend([30]): [20, 30]
After append([40,50]): [20, 30, [40, 50]]
After extend('WORK'): [20, 30, [40, 50], 'W', 'O', 'R', 'K']
Combo list: [1, 'a', 'b', 2, 3]
combo + snames: [1, 'a', 'b', 2, 3, 20, 30, [40, 50], 'W', 'O', 'R', 'K']
After append(combo): [20, 30, [40, 50], 'W', 'O', 'R', 'K', [1, 'a', 'b', 2, 3]]
After extend(combo): [20, 30, [40, 50], 'W', 'O', 'R', 'K', [1, 'a', 'b', 2, 3], 1, 'a', 'b', 2, 3]

In [21]:
# Question 11.	Create one list l1 having two elements and l3 having 7 elements. Now at 4th position add l1 

l1 = [100, 200]
l3 = [1, 2, 3, 4, 5, 6, 7]
print("Original l3:", l3)
l3.insert(3, l1)
print("Updated l3:", l3)

Original l3: [1, 2, 3, 4, 5, 6, 7]
Updated l3: [1, 2, 3, [100, 200], 4, 5, 6, 7]

In [22]:
# Question 12.	Collection is the list having values [1,2,3,[‘a’, ‘b’, ‘c’], 100, ‘Nisha’, 20.50, 90.10 ] if the data is in integer or float then multiply with 5.  
# •	From the collection delete the record for “Nisha” 
# •	Find the location of 20.50 

collection = [1, 2, 3, ['a','b','c'], 100, 'Nisha', 20.50, 90.10]
print("original list : ", collection)
for i in range(len(collection)):
    if isinstance(collection[i], (int, float)):
        collection[i] = collection[i] * 5

print("after multiplying int and float by 5 we get   : ", collection)

collection.remove("Nisha")
print("after removing 'Nisha' : ", collection)

location = collection.index(102.5)
print("location of 20.50 after multiplication is on index : ", location)

original list :  [1, 2, 3, ['a', 'b', 'c'], 100, 'Nisha', 20.5, 90.1]
after multiplying int and float by 5 we get   :  [5, 10, 15, ['a', 'b', 'c'], 500, 'Nisha', 102.5, 450.5]
after removing 'Nisha' :  [5, 10, 15, ['a', 'b', 'c'], 500, 102.5, 450.5]
location of 20.50 after multiplication is on index :  5

In [24]:
# Question 13.	Create a comprehensive list for square upto 10 
squares = [i**2 for i in range(1,11)]
print("Squares up to 10 : ", squares)

Squares up to 10 :  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [25]:
# Question 14.	Create the comprehensive list to find number divisible by 13 till 200
divisible_by_13 = [i for i in range(1,201) if i % 13 == 0]
print("numbers divisible by 13 are : ", divisible_by_13)

numbers divisible by 13 are :  [13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

In [26]:
# Question 15.	Create the list which is divisible by 4 from 300 to 400  
divisible_by_4 = [i for i in range(300,401) if i % 4 == 0]
print("numbers divisible by 4 : ", divisible_by_4)

numbers divisible by 4 :  [300, 304, 308, 312, 316, 320, 324, 328, 332, 336, 340, 344, 348, 352, 356, 360, 364, 368, 372, 376, 380, 384, 388, 392, 396, 400]

In [27]:
# Question 16.	
# Create a comprehensive list to generate list up to x, y as a number. For example if x = 3 list will be x_list = [0,1,2] and y=2 then y_list =[0,1]
# Then generate a new list based on all combination of x and y.
# For example: if x = 1 and y =2  then x_list = [0] and y_list = [0,1]
# And output will be [[0,0],[0,1]]
# If x=2 and y = 2 then output will be [[0,0],[0,1][1,0],[1,1]]

x = int(input("Enter value of x: "))
y = int(input("Enter value of y: "))
x_list = [i for i in range(x)]
y_list = [j for j in range(y)]
print("x_list:", x_list)
print("y_list:", y_list)

combo_list = [[i, j] for i in x_list for j in y_list]
print("All Combinations:", combo_list)

x_list: [0, 1, 2, 3, 4]
y_list: [0, 1, 2, 3, 4, 5, 6, 7, 8]
All Combinations: [[0, 0], [0, 1], [0, 2], [0, 3], [0, 4], [0, 5], [0, 6], [0, 7], [0, 8], [1, 0], [1, 1], [1, 2], [1, 3], [1, 4], [1, 5], [1, 6], [1, 7], [1, 8], [2, 0], [2, 1], [2, 2], [2, 3], [2, 4], [2, 5], [2, 6], [2, 7], [2, 8], [3, 0], [3, 1], [3, 2], [3, 3], [3, 4], [3, 5], [3, 6], [3, 7], [3, 8], [4, 0], [4, 1], [4, 2], [4, 3], [4, 4], [4, 5], [4, 6], [4, 7], [4, 8]]

In [ ]:
# 17.	 What is the difference between add and update methods in set? 
# add() → Adds a single element.
# update() → Adds multiple elements.
s = {1, 2}
s.add(3)     #the output will be for add  : {1, 2, 3}
s.update([4,5])  # and for update the output will be : {1, 2, 3, 4, 5}

In [29]:
# Question 18.	What is the difference between append and extend methods in list? 
# append() → Adds one element (can create nested list). 
# extend() → Adds elements individually.
l = [1, 2]
l.append([3,4])   
l.extend([5,6])

In [ ]:
# 21.	How to create empty set? 
s=set()
print("empty set = ",s)

empty set =  set()

In [31]:
# 22.	Create the set s1 and s2 and perform set operations like union, intersection, difference, set difference.
s1={1,2,3,4}
s2={3,4,5,6}
print("Union:",s1|s2)
print("Intersection:",s1&s2)
print("Difference s1-s2:",s1-s2)
print("Difference s2-s1:",s2-s1)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference s1-s2: {1, 2}
Difference s2-s1: {5, 6}

In [33]:
# 23.	Create l2 as a list and perform set operation on s1 with l1 
s1={1,2,3,4}
l1=[3,4,5,6]
l1 = set(l1)
print("union : ",s1 | l1)

union :  {1, 2, 3, 4, 5, 6}

In [36]:
# 24.	Ask user to enter the name and DOB and generate the password based on first name 4 characters and  @ddmm. 
# For example name = SURESH and DOB = 05-05-1978 then password will be SURE@0505 
name = input("Enter name: ")
birth_date = input("Enter DOB dd-mm-yyyy: ")
password = name[:4].upper() + "@" + birth_date[:2] + birth_date[3:5]
print("your password is : ",password)

your password is :  ANAS@

In [ ]:
# 25.	Ask user to enter the name and DOB and generate the password based on first name 4 characters and  last 4 digits of DOB or year @yyyy. For example name = SURESH and DOB = 05-05-1978 then password will be SURE@1978 
name=input("Enter name: ")
dob=input("Enter DOB dd-mm-yyyy: ")
password=name[:4].upper()+"@"+dob[-4:]
print("Generated password =",password)

In [37]:
# 26.	Create the format mentioned here.
# *
# * *
# * * *
# * * * *
for i in range(1,5):
    print("* "*i)

*
* *
* * *
* * * *

In [38]:
# 27.	Create the format as mentioned below:
# ****
# ***
# **
# *
for i in range(4,0,-1):
    print("*"*i)

****
***
**
*

In [39]:
# 28.	Str_val = “ABCD” then create the format as mentioned below:
# A
# A B
# A B C
# A B C D
s="ABCD"
for i in range(len(s)):
    print(*s[:i+1])

A
A B
A B C
A B C D

In [40]:
# 29.	Create the format mentioned below:
# A
# BB
# CCC
# DDDD
s="ABCD"
for i in range(len(s)):
    print(s[i]*(i+1))

A
BB
CCC
DDDD

In [41]:
# 30.	Create the format mentioned below:
# 1
# 22
# 333
# 4444
for i in range(1,5):
    print(str(i)*i)

1
22
333
4444

In [1]:
# Val = “ABCD”  based on the Val, create the format mentioned below 
# D
# DC 
# DCB 
# DCBA 
def print_pattern(str):
    for i in range(len(str) + 1):
        print(str[:i])
val = "ABCD"
print_pattern(val[::-1])

D
DC
DCB
DCBA

In [2]:
# Ask user to enter the string. If string is UPGRAD then output must be 

# D 
# DA 
# DAR 
# DARG 
# DARGP 
# DARGPU 

def print_pattern(str):
    for i in range(len(str) + 1):
        print(str[:i])

val = input("ENTER THE TEXT?: ")
print_pattern(val[::-1])

d
da
dar
darg
dargp
dargpu

In [3]:
# Create a list of odd numbers from 1 to 10 
# Using for loop 
# Using comprehensive list 
def create_using_loop(start, end):
    li = []
    
    for i in range(start, end + 1):
        if i % 2 != 0:
            li.append(i)
            
    return li

li1 = [i for i in range(1, 11) if i % 2 != 0]
print("ODD NUMBERS: ", li1)

li2 = create_using_loop(1, 10)
print("ODD NUMBERS: ", li2)

ODD NUMBERS:  [1, 3, 5, 7, 9]
ODD NUMBERS:  [1, 3, 5, 7, 9]

In [4]:
# Create even number list using for loop from 200 to 250 
def get_even_numbers(start, end):
    l = []
    
    for i in range(start, end + 1):
        if i % 2 == 0:
            l.append(i)
            
    return l

even_nums = get_even_numbers(start = 200, end = 250)
print("EVEN NUMBER: ", even_nums)

EVEN NUMBER:  [200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250]

In [5]:
# List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5] 
# Multiply each and every element by 2 and display the answer 
l = [2, 70, "work", "para", 2.5, [1, 2, 3], (1, 2), {1, 2}, {1: 'a', 2: 'b'}, 3, 10, 302.5]

for x in l:
    if type(x) is dict:
        print(x)
    elif type(x) is set:
        print(set(list(x) * 2))
    else:
        print(x * 2)

4
140
workwork
parapara
5.0
[1, 2, 3, 1, 2, 3]
(1, 2, 1, 2)
{1, 2}
{1: 'a', 2: 'b'}
6
20
605.0

In [6]:
# 37. Create a function to accept marks from user utilize exception concept to validate proper marks.
def get_marks():
    try:
        marks = input("ENTER THE MARKS?: ")
        
    except:
        print("ERROR OCCURE!!")

In [ ]:
# 38. Create a function to validate user first name/last name. User first name/last name should contain only characters.
#  No special characters, numbers, space in name
def print_data(first_name, last_name):
    if first_name != "" and last_name != "":
        print(f"USER NAME IS: {first_name + ' ' + last_name} !!")
    else:
        print("WRONG INPUT!!")


def validate(str):
    try:
        if not str.isalpha() or str == "":
            raise Exception("WRONG INPUT!!")
        else:
            return True
    except Exception as e:
        print(e)
        return False


def get_data():
    first_name = input("ENTER THE NAME?: ")
    last_name = input("ENTRE THE LAST NAME?: ")
    
    if validate(first_name):
        first_name = first_name
        
        if validate(last_name):
            last_name = last_name
        else:
            return None
    else:
        return None
        
        
    return first_name, last_name


data = get_data()
if data is not None:
    first_name, last_name = data
    print_data(first_name, last_name)