***
> Comprehensive list:

> Q1. Write a list comprehension to generate squares of numbers from 1 to 10
***

In [85]:
squares = [i ** 2 for i in range(1, 11)]

for i, square in enumerate(squares, start = 1):
    print(f"{i} square is {square}")

1 square is 1
2 square is 4
3 square is 9
4 square is 16
5 square is 25
6 square is 36
7 square is 49
8 square is 64
9 square is 81
10 square is 100

***
> Q2. Create a list of even numbers between 1 and 50 using list comprehension.
***

In [86]:
even_nums = [i for i in range(1, 51) if i % 2 == 0]
print("EVEN NUMBER: ", even_nums)

EVEN NUMBER:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

***
> Q3. Convert all strings in a list to uppercase using list comprehension
***

In [1]:
names = ["Anas", "Talib", "Saud", "Amaan"]
names_upper = [s.upper() for s in names]
print("NAMES IN UPPER CASE: ", names_upper)

NAMES IN UPPER CASE:  ['ANAS', 'TALIB', 'SAUD', 'AMAAN']

***
> Q4. Given a list of integers, create a new list that contains only the positive numbers.
***

In [88]:
nums = [1, -1, 2, 5, 10, 2, -3, -7, -2, 8]

positive_nums = [i for i in nums if i > 0]
print("POSITIVE NUMBERS ARE: ", positive_nums)

POSITIVE NUMBERS ARE:  [1, 2, 5, 10, 2, 8]

***
> Q5. Create a list of tuples (num, num^2) for numbers 1 to 5.
***

In [89]:
li = [(i, i ** 2) for i in range(1, 6)]
print(li)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

***
> Q6. Extract all vowels from a given string using list comprehension.
***

In [90]:
text = input("Enter the string?: ")

if not text.replace(" ", "").isalpha():
    print("PLESE RE-ENTER STRING AGAIN...")
else:
    vowels = [ch for ch in text if ch in ('a', 'e', 'i', 'o', 'u')]
    print(f"VOWELS FOR `{text}` ARE: {set(vowels)}")

PLESE RE-ENTER STRING AGAIN...

***
> Q7. Flatten a 2D list using list comprehension.
***

In [91]:
li = [[10, 20], [30, 40]]

flatten_li = [j for i in li for j in i]
print("FLATTEN ARRAY: ", flatten_li)

FLATTEN ARRAY:  [10, 20, 30, 40]

***
> Q8. Replace all negative numbers in a list with 0 using list comprehension.
***

In [92]:
nums = [1, -1, 2, 5, 10, 2, -3, -7, -2, 8]

nums = [0 if i < 0 else i for i in nums]
print("LIST AFTER NEGATIVE REPLCE: ", nums)

LIST AFTER NEGATIVE REPLCE:  [1, 0, 2, 5, 10, 2, 0, 0, 0, 8]

***
> Q9. Given a list of words, create a list of lengths of each word
***

In [2]:
words = ["Anas", "Talib", "Saud"]

lenghts = [len(word) for word in words]
print("LENGHTS OF THE WORDS IS: ", lenghts)

LENGHTS OF THE WORDS IS:  [4, 5, 4]

***
> Q10. Filter out words that start with the letter 'A' or 'a'.
***

In [3]:
words = ["Anas", "aniket", "Talib", "Saud", "Amaan"]

starts_with_a = [word for word in words if word[0] == "A" or word[0] == "a"]

print("WORDS STARTS WITH A: ", starts_with_a)

WORDS STARTS WITH A:  ['Anas', 'aniket', 'Amaan']

***
> Q11.  From a list of numbers, generate a list of “even” or “odd” strings using list comprehension
***

In [95]:
li = [i for i in range(1, 11)]

filtered_li = ["even" if i % 2 == 0 else "odd" for i in li]

for i, text in enumerate(filtered_li, start = 1):
    print(f"{i} : {text}")

1 : odd
2 : even
3 : odd
4 : even
5 : odd
6 : even
7 : odd
8 : even
9 : odd
10 : even

***
> Q12. Create a list of numbers divisible by both 3 and 5 in range 1–100
***

In [96]:
li = [i for i in range(1, 101) if i % 3 == 0 and i % 5 == 0]
print("Numbers divisible by 3 and 5: ", li)

Numbers divisible by 3 and 5:  [15, 30, 45, 60, 75, 90]

***
> Q13. Write a nested list comprehension to generate a multiplication table for 1–5.
***

In [97]:
tables = [[i, j,i * j] for i in range(1, 6) for j in range(1, 11)]

for table in tables:
    print(f"{table[0]} * {table[1]} = {table[2]}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

***
> Q14. Convert a dictionary’s keys into a list using list comprehension.
***

In [4]:
di = {
    'name': "Anas Jahagirdar",
    'age': 24,
    'course': "MCA"
}

keys = [key for key in di]
print("KEYS ARE: ", keys)

KEYS ARE:  ['name', 'age', 'course']

***
> Q15. Extract numeric digits from a string using list comprehension.
***

In [ ]:
text = input("Enter the text: ")

digits = [ch for ch in text if ch.isdigit()]
print("DIGITS IN STARING: ", digits)

DIGITS IN STARING:  []

***
> Q16. Use list comprehension to remove all spaces from a string.
***

In [100]:
text = input("Enter the text?: ")
str_after_spaces_removal = "".join([ch for ch in text if ch != " "])
print(str_after_spaces_removal)

***
> Q17. Create a list of characters that appear more than once in a string.
***

In [101]:
text = input("Enter the text?: ")

chars = list({ch for ch in text.replace(" ", "") if text.count(ch) > 1})
print(chars)

[]

***
> Q18. From a list of sentences, generate a list of all words (split using list comprehension).
***

In [5]:
li_sentences = ["my name is Anas ," "i am fine", "how are you"]

words = [word for li in li_sentences for word in li.split(" ")]
print("WORDS IN THE LIST ARE: ", words)

WORDS IN THE LIST ARE:  ['my', 'name', 'is', 'Anas', ',i', 'am', 'fine', 'how', 'are', 'you']

***
> Q19. Create a list of unique elements from a list using list comprehension + condition.
***

In [103]:
nums = [1, 2, 3, 2, 4, 5, 1, 6, 7, 3]

unique_elements = [i for i in nums if nums.count(i) == 1]
print(f"UNIQUE ELEMNTS ARE: {unique_elements}")

UNIQUE ELEMNTS ARE: [4, 5, 6, 7]

***
> Q20. Generate all pairs (x, y) where x is from list A and y is from list B (cartesian product)
***

In [104]:
li1 = [1, 2, 3, 4, 5]
li2 = [6, 7, 8, 9, 10]

cartesian_product_li = [(i, j) for i in li1 for j in li2]
print("CARTESIAN PRODUCT: ", cartesian_product_li)

CARTESIAN PRODUCT:  [(1, 6), (1, 7), (1, 8), (1, 9), (1, 10), (2, 6), (2, 7), (2, 8), (2, 9), (2, 10), (3, 6), (3, 7), (3, 8), (3, 9), (3, 10), (4, 6), (4, 7), (4, 8), (4, 9), (4, 10), (5, 6), (5, 7), (5, 8), (5, 9), (5, 10)]

***
> LAMBDA FUNCTIONS:

> Q1. Write a lambda to add two numbers.
***

In [4]:
def get_numbers():
    num1 = int(input("Enter the first number?: "))
    num2 = int(input("Enter the second number?: "))
    
    return num1, num2

add = lambda x,y: x + y

x, y = get_numbers()
res = add(x, y)
print("Addition: ", res)

Addition:  67

***
> Q2. Create a lambda to check if a number is even.
***

In [6]:
check_even = (lambda x: x % 2 == 0)

number = int(input("ENTER THE NUMBER?: "))
if check_even(number):
    print("NUMBER IS EVEN!!!")
else:
    print("NUMBER IS ODD!!!")

NUMBER IS ODD!!!

***
> Q3. Write a lambda to get the last character of a string.
***

In [7]:
get_last_char = (lambda text: text[-1])

text = input("Enter the text?: ")
last_char = get_last_char(text)
print(f"LAST CHAR IS: {last_char}")

LAST CHAR IS: p

***
> Q4. Use lambda with map() to square every number in a list.
***

In [12]:
square = (lambda x: x**2)

li = [elem for elem in range(1, 11)]
print("LIST ELEMENTS: ", li)

square_list = list(map(square, li))
print("SQAURE OF THE LIST ELEMENTS: ", square_list)

LIST ELEMENTS:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
SQAURE OF THE LIST ELEMENTS:  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

***
> Q5. Use lambda with filter() to get only odd numbers from a list.
***

In [ ]:
li = [elem for elem in range(1,11)]
print("LIST ELEMENTS: ", li)

filter_numbers = (lambda x: x % 2 != 0)
odd_numbers = list(filter(filter_numbers, li))
print("ODD NUMBERS: ", odd_numbers)

LIST ELEMENTS:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ODD NUMBERS:  [1, 3, 5, 7, 9]

***
> Q6. Use sorted() + lambda to sort a list of tuples by second value.
***

In [ ]:
li = [(1, 3), (2, 5,), (10, 1), (5, 4)]
print("LIST: ", li)
func = (lambda x: x[1])
sorted_by_second_index = sorted(li, key = func)
print("SORTED LIST -> ", sorted_by_second_index)

LIST:  [(1, 3), (2, 5), (10, 1), (5, 4)]
SORTED LIST ->  [(10, 1), (1, 3), (5, 4), (2, 5)]

***
> Q7. Create a lambda to check if a string is a palindrome.
***

In [ ]:
txt = input("Enter the text: ").lower()

check_palindrome = (lambda txt: txt[::-1])

if txt == check_palindrome(txt):
    print("PALINDROME STRING ")
else:
    print("NOT PALINDROME STRING ")

PALINDROME STRING!!

***
> Q8. Use lambda to find maximum of three numbers.
***

In [27]:
max_from_three = (lambda x, y, z: max(x, y, z))

x = int(input("Enter the first number?: "))
y = int(input("Enter the second number?: "))
z = int(input("Enter the third number?: "))

print("Maximum from 3 numbers are: ", max_from_three(x, y, z))

Maximum from 3 numbers are:  12

***
> Q9. Write a lambda to reverse a string.
***

In [30]:
reverse_string = (lambda txt: txt[::-1])

text = input("ENTER THE STRING?: ")
print("STRING AFTER REVERSE: ", reverse_string(text))

STRING AFTER REVERSE:  piduS

***
> Q10. Use lambda with map() to convert a list of strings to integers.
***

In [9]:
li = ["5", "4", "3", "2", "1", ]
print("LIST: ", li)

convert_to_int = (lambda x: int(x) if x.isdigit() else None)
nums = list(map(convert_to_int, li))
print("LIST AFTER CONVERSIONS: ", nums)

LIST:  ['5', '4', '3', '2', '1']
LIST AFTER CONVERSIONS:  [5, 4, 3, 2, 1]

***
> Q11. Use lambda with filter() to remove empty strings from a list
***

In [6]:
l = ["Anas", "Ankit", "Talib", "","Saud", ""]

remove_empty_str = (lambda txt: txt if len(txt) != 0 else None)
strings = list(filter(remove_empty_str, l))

print("Non Empty Strings: ", strings)

Non Empty Strings:  ['Anas', 'Ankit', 'Talib', 'Saud']

***
> Q12. Use lambda to compute factorial using reduce() (yeah, that one-liner madness).
***

In [13]:
from functools import reduce

In [ ]:
factorial = reduce(lambda x, y: x + y, [])

***
> Q13. Write a lambda that returns the larger of two numbers.
***

In [14]:
grestest_number = (lambda x, y: x if x > y else y)

num1, num2 = int(input("Enter the first number?: ")), int(input("Enter the second number?: "))
print("Grestest Number: ", grestest_number(num1, num2))

Grestest Number:  10

***
> Q14. Use lambda to check if number is divisible by 5.
***

In [15]:
check_divisible_by_five = (lambda x: True if x % 5 == 0 else False)

number = int(input("Enter the number?: "))
if check_divisible_by_five(number):
    print("Number is divisible 5...")
else:
    print("Number is not divisible 5...")

Number is divisible 5...

***
> Q15. Use lambda + map() to add 10 to each element of a list.
***

In [17]:
li = [10, 20, 30, 40, 50]

add_ten = (lambda x: x + 10)
print("LIST AFTER ADDING 10: ",list(map(add_ten, li)))

LIST AFTER ADDING 10:  [20, 30, 40, 50, 60]

***
> Q16. Use lambda to sort a list of dictionaries by a key (like "age").
***

In [7]:
l = [
    {
        'name': "Anas Jahagirdar",
        'age': 24
    },
    {
        'name': "Talib Shaikh",
        'age': 22
    },
    {
        'name': "Saud Shaikh",
        'age': 20
    }
]

ages = lambda x: x["age"]
sorted_list = sorted(l, key=ages)
print("SORTED LIST: ", sorted_list)

SORTED LIST:  [{'name': 'Saud Shaikh', 'age': 20}, {'name': 'Talib Shaikh', 'age': 22}, {'name': 'Anas Jahagirdar', 'age': 24}]

***
> Q17. Write a lambda that returns True if a character is a vowel.
***

In [32]:
text = input("Enter the text: ")

check_vowels = (lambda ch: True if ch in ('a', 'e', 'i', 'o', 'u') else False)

for ch in text:
    print(f"OUTPUT: {ch}, {check_vowels(ch)}")

OUTPUT: S, False
OUTPUT: u, True
OUTPUT: d, False
OUTPUT: i, True
OUTPUT: p, False

***
> Q18. Use lambda + filter to extract words of length > 5 from a list.
***

In [8]:
names = ["Anas Jahagirdar", "Ankit", "Talib"]

extract_greater_than_five = (lambda word: word if len(word) > 5 else None)
print("Names Length Greater Than Five: ", list(filter(extract_greater_than_five, names)))

Names Length Greater Than Five:  ['Anas Jahagirdar']

***
> Q19. Use lambda to calculate the area of a circle (πr²).
***

In [36]:
radius = float(input("Enter the radius: "))

area_of_circle = (lambda radius: 3.14 * (radius ** 2))
print("Area of circle: ", area_of_circle(radius))

Area of circle:  94.985

***
> Q20. Write a lambda to remove duplicates from a list using filter + set
***

In [45]:
li = [1, 1, 2, 2, 3, 3, 4, 4]
print("Unique Numbers: ", set(li))

Unique Numbers:  {1, 2, 3, 4}

***
> Q21. Use lambda with reduce() to find the product of all numbers in a list.
***

In [49]:
l = [i for i in range(1, 11)]
product = (lambda x, y: x * y)

res = reduce(product, l)
print("Product of all numbers:", res)

Product of all numbers: 3628800

***
> Q22. Write a lambda that returns absolute value of a number.
***

In [57]:
l = [-5, -4, -3, -2, -1, 1, 2, 3, 4, 5]
absolute_nums = lambda x: abs(x)
print("Absolute Values", list(map(absolute_nums, l)))

Absolute Values [5, 4, 3, 2, 1, 1, 2, 3, 4, 5]

***
> Q23. Use lambda to sort a list of strings by their length.
***

In [9]:
names = ["Anas", "Talib", "Sudip", "Ankit"]

sorted(names, key = lambda txt: len(txt))

['Anas', 'Talib', 'Sudip', 'Ankit']

***
> Q24. Use lambda to get only uppercase characters from a string.
***

In [64]:
text = input("Enter the text: ")

upper_case = (lambda ch: ch if ch.isupper() else "")

print("Uppercase chars: ",list(filter(upper_case, text)))

Uppercase chars:  ['P', 'G', 'M', 'M']

***
> Q25. Write a lambda that returns the square if number is even, cube if odd.
***

In [66]:
number = int(input("Enter the number:? "))

operation = (lambda x: x ** 2 if x % 2 == 0 else x ** 3)

print("Result: ", operation(number))

Result:  125

***
> Q26. Use lambda with map to convert Celsius to Fahrenheit.
***

In [2]:
celsius = [0, 2, 5, 10, 23, 8]

to_fahrenheit = (lambda c: (c * (9 / 5)) + 32)
print("Celsius to Fahrenheit: ", list(map(to_fahrenheit, celsius)))

Celsius to Fahrenheit:  [32.0, 35.6, 41.0, 50.0, 73.4, 46.4]

***
> Q27. Write a lambda to check if two strings are anagrams.
***

In [11]:
text_1 = input("Enter the first string?: ").lower()
text_2 = input("Enter the second string?: ").lower()

check_anagram = (lambda s1, s2: True if "".join(sorted(s1)) == "".join(sorted(s2)) else False)

if check_anagram(text_1, text_2):
    print("YESS, ANAGRAMS!!")
else:
    print("NOO, ANAGRAMS!!")

YESS, ANAGRAMS!!

***
> Q28. Use lambda to extract only numeric values from a mixed list.
***

In [10]:
l = [10, 3, 5.5, 'a', "Anas", [1, 2], {'name': "Taloib"}]

extract_nums = (lambda x: x if type(x) == int else None)
print("Numbers from the list are: ", list(filter(extract_nums, l)))

Numbers from the list are:  [10, 3]

***
> Q29. Use lambda inside any() to check if any list element is negative.
***

In [21]:
nums = [1, 2, 3, 4, 5, 10]

check_negative = (lambda n: True if n < 0 else False)

if any([check_negative ,nums]):
    print("List contains a negative number...")
else:
    print("List does not contains any negative number...")

List contains a negative number...

***
> Q30. Use lambda to generate a function that multiplies any number by n
***

In [11]:
n = int(input("Enter the number?: "))
multiply_by = int(input("Enter the number to multiply?: "))

answer = (lambda num, n: num * n)
print(f"Number: {n} | Multiply by {multiply_by} | ANSWER: {answer(n, multiply_by)}")

Number: 23 | Multiply by 23 | ANSWER: 529